In [15]:
## Creating the submission file
import pandas as pd
import numpy as np

df = pd.read_csv('artifacts/predicted_data.csv')
df.head()

,Timestamp,Residents,Temperature,Humidity,Water_Price,Period_Consumption_Index,Guests,Temp_WaterPrice_Interaction,Guests_ApplianceUsage_Interaction,ApplianceUsage_Squared,...,Day_sin,Income_Level,Appliance_Usage,Week,is_null_amenities,Apartment_Type_2BHK,Apartment_Type_3BHK,Apartment_Type_Studio,Amenities_Garden,Water_Consumption_Prediction
0,2014-10-11 16:00:00,1.466479,-1.509766,0.472270,1.810313,1.464284,1.442721,-0.337190,-0.179906,-0.541436,...,1.104107,4.0,0.0,5,0,0,0,0,0,304.632500
1,2014-10-12 00:00:00,0.673405,0.931852,0.825541,1.949675,0.656177,-0.601103,2.410324,-0.179906,1.846939,...,0.908561,4.0,-1.0,6,0,0,0,0,1,195.913440
2,2014-10-12 08:00:00,-0.119669,-1.738008,1.174809,-0.123337,-0.825353,-0.601103,-1.204266,-0.179906,-0.541436,...,0.908561,3.0,0.0,6,1,0,0,0,1,76.966515
3,2014-10-12 16:00:00,-0.119669,0.623303,-0.049130,-0.436902,0.701072,-0.601103,0.048622,-0.179906,-0.541436,...,0.908561,2.0,0.0,6,1,0,0,0,1,124.478874
4,2014-10-13 00:00:00,-0.912743,-1.449184,0.207067,-0.942090,0.656177,-0.601103,-1.334563,-0.179906,-0.541436,...,0.675607,3.0,0.0,0,0,0,0,0,0,121.147820

In [16]:
submission = df[['Timestamp', 'Water_Consumption_Prediction']].copy()
submission['Timestamp'] = pd.to_datetime(submission['Timestamp'], format="%Y-%m-%d %H:%M:%S")
submission['Timestamp'] = submission['Timestamp'].dt.strftime("%d/%m/%Y %H")
submission = submission.rename({'Water_Consumption_Prediction':'Water_Consumption'}, axis=1)

In [17]:
submission['Water_Consumption'] = round(submission['Water_Consumption'],2)
submission = submission.set_index('Timestamp')
submission.to_csv('artifacts/submission.csv')
submission

               Water_Consumption
Timestamp
11/10/2014 16             304.63
12/10/2014 00             195.91
12/10/2014 08              76.97
12/10/2014 16             124.48
13/10/2014 00             121.15
...                          ...
01/04/2020 00             232.97
01/04/2020 08              80.53
01/04/2020 16             291.87
02/04/2020 00             186.86
02/04/2020 08              67.57

[6000 rows x 1 columns]

In [9]:
submission.dtypes

Timestamp            datetime64[ns]
Water_Consumption           float64
dtype: object