In [6]:
## Creating the submission file
import pandas as pd
import numpy as np

df = pd.read_csv('artifacts/predicted_data.csv')
df.head()

,Timestamp,Residents,Temperature,Water_Price,Period_Consumption_Index,Guests,Appliance_Usage,is_null_amenities,Apartment_Type_2BHK,Apartment_Type_3BHK,...,Apartment_Type_Studio,Apartment_Type_Unknown,Income_Level_Middle,Income_Level_Rich,Income_Level_Unknown,Income_Level_Upper Middle,Amenities_Garden,Amenities_Jacuzzi,Amenities_Swimming Pool,Water_Consumption_Prediction
0,11/10/2014 16,1.466479,-1.509766,1.810313,1.464284,1.442721,-0.377423,0,0,0,...,0,0,0,0,0,1,0,1,0,321.02078
1,12/10/2014 00,0.673405,0.931852,1.949675,0.656177,-0.601103,-2.622317,0,0,0,...,0,0,0,0,0,1,1,0,0,211.92377
2,12/10/2014 08,-0.119669,-1.738008,-0.123337,-0.825353,-0.601103,-0.377423,1,0,0,...,0,0,1,0,0,0,1,0,0,85.24648
3,12/10/2014 16,-0.119669,0.623303,-0.436902,0.701072,-0.601103,-0.377423,1,0,0,...,0,0,0,0,0,0,1,0,0,125.53850
4,13/10/2014 00,-0.912743,-1.449184,-0.942090,0.656177,-0.601103,-0.377423,0,0,0,...,0,0,1,0,0,0,0,0,1,121.27263

In [7]:
submission = df[['Timestamp', 'Water_Consumption_Prediction']]
submission = submission.rename({'Water_Consumption_Prediction':'Water_Consumption'}, axis=1)

In [8]:
submission['Water_Consumption'] = round(submission['Water_Consumption'],2)
submission = submission.set_index('Timestamp')
submission.to_csv('artifacts/submission.csv')
submission

               Water_Consumption
Timestamp
11/10/2014 16             321.02
12/10/2014 00             211.92
12/10/2014 08              85.25
12/10/2014 16             125.54
13/10/2014 00             121.27
...                          ...
01/04/2020 00             241.22
01/04/2020 08              75.55
01/04/2020 16             231.37
02/04/2020 00             171.40
02/04/2020 08              70.84

[6000 rows x 1 columns]